.marked .meaning{
    position: absolute;
    left: 50%;
    bottom: 80%;
    transform: translateX(-50%);
    font-size: 0.75em;
    white-space: nowrap;
    font-size: 12px;
    border-bottom: 1px solid #6bb;
    color: #6bb;
}

.marked{
    display: inline-block;
    position: relative;
    margin-top: 1em;
    border-bottom: 1px dashed #6bb;
    background-color: transparent;
}
